.App {
  text-align: center;
  background-color: #ffffff;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.quotation {
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 16rem;
  line-height: 0%;
  color: #000000;
}

.app-title {
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 4rem;
  color: #000000;
}

.app-description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  padding-top: 10%;
  color: #595959;
}

.button-wrap {
  padding-top: 10%;
}
