.App {
  text-align: center;
  background-color: #ffffff;
  color: #000000;

  /* center content to the page */
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.quotation {
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 16rem;
  line-height: 0%;
  color: #000000;
}

.app-title {
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 4rem;
  color: #000000;
}

.app-description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  padding-top: 6%;
  padding-bottom: 1%;
  color: #595959;
}

.button-wrap {
  padding-top: 10%;
}

.card-wrap {
  text-align: left;
  display: flex;
  justify-content: center;
}

.ant-card {
  width: 90%;
  max-width: 700px;
}

.card-body {
  padding: 2rem;
  width: 95%;
}

.inspirational-quote {
  padding-bottom: 3rem;
  font-family: Georgia, Times, Times New Roman, serif;
  color: #000000;
  font-size: 1.7rem;
}

.quote-author {
  color: #595959;
}
